<!DOCTYPE html>
<html>
  <head>
    <title>Who Pays Speakers?</title> 
    <!-- add some speaking image! -->
    <!-- <meta property="og:image" content="../img/header.png"/> -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div id="headder"></div>
    <div class="wrapper">
      <header id="header">
      <h2 class="center single-title yellow-shadow"><a href="/">Who Pays Speakers?</a></h2>
      <h3 class="center">Oh No! Couldn't find what you are looking for...</h3>
      </header>
      {{> footer}}
    </div>
    {{#if ga}}
      {{> ga }}
    {{/if}}
  </body>
</html>
