<!DOCTYPE html>
<html>
  <head>
    <title>Who Pays Conference Speakers?</title>
    <meta name="description" content="Speaking at a tech conference can be costly. Discussions about money are sometimes taboo because we often pretend that passion and exposure should pay the way. While some conferences have 'no budget', many offer to cover travel and accommodations or pay honorarium.">

    <meta property="og:title" content="Who Pays Conference Speakers?">
    <meta property="og:image" content="http://whopays.techspeakers.info/img/media.jpg"/>
    <meta property="og:description" content="Speaking at a tech conference can be costly. Discussions about money are sometimes taboo because we often pretend that passion and exposure should pay the way. While some conferences have 'no budget', many offer to cover travel and accommodations or pay honorarium.">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@WhoPaysSpeakers">
    <meta name="twitter:creator" content="@kosamari">
    <meta name="twitter:title" content="Who Pays Conference Speakers?">
    <meta name="twitter:description" content="Speaking at a tech conference can be costly. Discussions about money are sometimes taboo because we often pretend that passion and exposure should pay the way. While some conferences have 'no budget', many offer to cover travel and accommodations or pay honorarium.">
    <meta name="twitter:image:src" content="http://whopays.techspeakers.info/img/media.jpg">

    <meta itemprop="name" content="Who Pays Conference Speakers?">
    <meta itemprop="description" content="Speaking at a tech conference can be costly. Discussions about money are sometimes taboo because we often pretend that passion and exposure should pay the way. While some conferences have 'no budget', many offer to cover travel and accommodations or pay honorarium.">
    <meta itemprop="image" content="http://whopays.techspeakers.info/img/media.jpg">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel='stylesheet' href='css/css3-tips.css' />
    <script type='text/javascript' src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type='text/javascript' src="javascript/jquery.autocomplete.min.js"></script>
  </head>
  <body>
    <div id="headder"></div>
    <div class="wrapper">
      <header id="header">
      <h1 class="center yellow-shadow">Who Pays Speakers?</h1>
      </header>
      <section>
        <h3 class="center">Speaking at a tech conference can be costly.</h3>
        <p>We (speakers) love giving talks at technical conferences, but discussions about money are sometimes taboo because we often pretend that passion and exposure should pay the way. While some conferences have "no budget", many offer to cover travel & accommodations or pay honorarium.</p>
        <p>
        Let’s help each other by sorting through some of the confusion, and develop an ongoing dialog about the cost of public speaking.</p>
        <p align="right"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://whopays.techspeakers.info/" data-text="Who pays conference speakers?" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
      </section>
      <section class="form">
        <h2 class="">Share your experience</h2>
        <p>
          <em>All fields are <b>optional</b> & All submissions are <b>anonymous</b>.</em><br>
        </p>
          <span class="note"><b>Note:</b> Hi! thank for a lot of feedback, I know this form does not account for all possible case of speaking. If you feel like you want to provide more information, please use <em>Also:</em> section at the bottom (no max char limit). I'd love to hear what you loved about particular conference too!
          <br>If you like to add more fields in the form, please submit issue on my <a href="https://github.com/kosamari/who-pays-tech-speakers/issues/new" target="_blank">GitHub</a>.</span>
        
        <form name="submission">
          <p>
          I 
          <span class="styled-select top-tip" data-tips="If you were asked to speak in other way, you can clarify in 'Also' section">
            <select name="invite_type">
              <option value=""></option>
              <option value="invited">was invited</option>
              <option value="cfp">proposed an idea</option>
              <option value="sponsored">was sponsored</option>
            </select>
          </span>
          to
          <span class="styled-select top-tip" data-tips="Type of speaking">
            <select name="talk_type">
              <option value=""></option>
              <option value="talk">give a talk</option>
              <option value="panel">be on a panel</option>
              <option value="workshop">run a workshop</option>
            </select>
          </span>
          at
          <span class="style-input top-tip" data-tips="This is the conference, event or institution that asked you to speak."><input type="text" name="event_name" id="event_name" placeholder="Awesome Conf" maxlength="80" /></span>
          in
          <span class="style-input"><input type="text" name="event_location" id="event_location" placeholder="New York" maxlength="80" /></span>
          .<br>I traveled
          <span class="styled-select top-tip" data-tips="How far did you travel?">
            <select name="travel_type">
             <option value=""></option>
              <option value="international">internationally</option>
              <option value="domestic">to other city in my country</option>
              <option value="local">within my town</option>
            </select>
          </span>
          to speak at this event.
          </p>

          <p>I
            <span class="styled-select top-tip" data-tips="How did you get ticket?">
              <select name="ticket_type">
               <option value=""></option>
                <option value="free">was given free</option>
                <option value="discount">bought discount</option>
                <option value="fullprice">bought full price</option>
              </select>
            </span>
            ticket
            and got paid
            <span class="style-input top-tip" data-tips="Only note your honorarium. Leave empty to share your experience only."><input name="fee" id="fee" placeholder="500" type="number" min="0" max="1000000" step="1" /></span>
            <span class="styled-select top-tip" data-tips="Please convert other currencies to one of these.">
            <select name="currency">
              <option value="USD">&dollar;</option>
              <option value="EUR">&euro;</option>
              <option value="GBP">&pound;</option>
              <option value="JPY">&yen;</option>
            </select></span>
            for my time. <br>
            My travel and accommodation was
            <span class="styled-select top-tip" data-tips="Did the event pay for the travel?">
            <select name="travel_assistance">
              <option value=""></option>
              <option value="full">fully covered</option>
              <option value="partial">partially covered</option>
              <option value="none">not covered</option>
            </select>
          </span>
          by the event.
          </p>
          <p>
            My employer
            <span class="styled-select top-tip" data-tips="Did your company pay for your travel?">
            <select name="travel_assistance_by_employer">
              <option value=""></option>
              <option value="full">covered all of </option>
              <option value="partial">covered part of</option>
              <option value="none">did not cover</option>
            </select>
            </span>
            my travel expenses. <br>I was 
            <span class="styled-select top-tip" data-tips="Did you attend the event on your time off ?">
            <select name="time_off">
              <option value=""></option>
              <option value="working">working</option>
              <option value="paid_timeoff">on my paid time off</option>
              <option value="unpaid_timeoff">on my unpaid time off</option>
              <option value="unemployed">unemployed</option>
              <option value="student">still a student</option>
            </select>
            </span>
            while attending the event.
          </p>

          <p>
          My speaking slot was
          <span class="style-input top-tip" data-tips="Examples: 3 hours workshop, 45 minutes talk"><input type="number" name="speaking_slot" id="speaking_slot" placeholder="20" min="1" max="99" step="1" /></span>
            <span class="styled-select">
              <select name="speaking_slot_unit">
                <option value="minutes"  selected="selected">minutes</option>
                <option value="hours">hours</option>
                <option value="days">days</option>
              </select></span>
          and it took me <span class="style-input top-tip" data-tips="How long did it take to prepare?"><input type="number" name="prep_time" id="prep_time" placeholder="2" min="1" max="99" step="1" /></span>
            <span class="styled-select">
              <select name="prep_time_unit">
                <option value="minutes">minutes</option>
                <option value="hours">hours</option>
                <option value="days" selected="selected">days</option>
                <option value="weeks">weeks</option>
                <option value="months">months</option>
              </select></span>
             to prepare.<br>I had a
            <span class="styled-select top-tip" data-tips="Leave this empty if it was forgettable or 'just okay'.">
              <select name="experience">
                <option value=""></option>
                <option value="great">great</option>
                <option value="mostly good">mostly good</option>
                <option value="mostly bad">mostly bad</option>
                <option value="bad">bad</option>
              </select></span>
             time.
          </p>

          <p>I am a
            <span class="style-input"><input type="text" name="gender" id="gender" placeholder="woman" maxlength="50" /></span>
           who has been speaking for <span class="style-input"><input type="number" name="speaking_years" id="speaking_years" placeholder="1" min="0" max="99" step="1" /></span>
            <span class="styled-select">
            <select name="speaking_years_unit">
              <option value="years">years</option>
              <option value="months">months</option>
            </select></span>
            <br>The event was
            <span class="styled-select">
              <select name="event_type">
                <option value=""></option>
                <option value="not for profit">not for profit</option>
                <option value="for profit">for profit</option>
              </select></span>
          </p>

          <p>
            Also: <span class="style-input"><input type="text" name="additional_info" id="additional_info" placeholder="Share details to help others understand your experience." /></span>
          </p>
          <input type="submit" value="Submit" class="submit">
          <span id="message"></span>
        </form>
      </section>

      <section id="report"></section>

      {{> footer}}
    </div>

    <script type="text/template" class="base">
    <h2 class="white-font">Learn from the experience of others</h2>
      <p class="white-font">Here are a few reports. If you like to know more, click "Show all" for all <%= length %> reports.</p>
      <p class="white-font">If you like to see raw data, here is raw <a class="white-font" href="data.json">JSON</a> or <a class="white-font" href="data.csv">CSV</a> of a dataset. (Can you help <a class="white-font" href="https://github.com/kosamari/who-pays-tech-speakers/issues/10">make API</a> ?)</p>
      <div id='cards'></div>
      <p class="center showall" id="more">Show all</p>
    </script>
    <script type="text/template" class="card">
      <% _.each(data, function(d) { %>
        <section class='report-card'>
          <p class="report"><% _.each(d.report, function(r) { if(r){ %> <%= r %><% };}); %> </p>
          <p class="date"><a href="./<%= d._id %>"><em>Submitted in <%= d.submitted %></em></a></p>
        </section>
      <% }); %>
    </script>

          <script>
      // form submission
      var $form = $('form');
      var $msg = $('#message')
      $form.on('submit', function(e){
        e.preventDefault();
        var data = $form.serializeArray()
        var count = data.map(function(d){
            if(d.value){
              return 1
            }else{
              return 0
            }
          }).reduce(function(p,n){ return p+n})
        if(count<5){
          $msg.html('Please fill out at least one field');
          return
        }else{
          $.post( "./submit", $form.serialize()).error(function() {
            $msg.html('Oops! some error! could not send your submission');
          }).success(function(data){
            $msg.html('Thanks for sharing! <a href="/'+data.id+'">This submission</a> was anonymously added to the database.');
            $form.each(function(){
              this.reset();
            });
          });
        }
      });


    var data, subset, remain;
    var basetemplate = _.template($( 'script.base' ).html());
    var cardtemplate = _.template($( 'script.card' ).html());

    function renderReports(){
      var count = data.length;
      $('#report').append(basetemplate({length:data.length}));
      $('#cards').append(cardtemplate({data:subset}));
    }

    function renderAllReports(){
      $('#cards').append(cardtemplate({data:remain}));
      $('#more').remove();
    }

    function setupAutoComplete(){
      ['event_name', 'event_location'].forEach(function(x) {
        $('#'+x).autocomplete({
            lookup: _.uniq(_.compact(_.pluck(data, x)))
        });
      });
    }

    $.getJSON('data.json', function(d) {
      data = d;
      subset = _.sample(data, 6);
      var subsetIds = _.pluck(subset,'_id');
      remain = _.filter(data, function(d){
        if(_.indexOf(subsetIds, d._id)<0){return d;}
      });
      renderReports();
      setupAutoComplete();

      $('#more').on('click', function(){
         renderAllReports();
      });
    });

    </script>
    {{> ga}}
  </body>
</html>
