<!DOCTYPE html>
<html>
  <head>
    <title>Who Pays Speakers?</title>
    <meta name="description" content="{{ report }}">

    <meta property="og:title" content="Who Pays Conference Speakers?">
    <meta property="og:image" content="http://whopays.techspeakers.info/img/media.jpg"/>
    <meta property="og:description" content="{{ report }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel='stylesheet' href='css/css3-tips.css' />
    <script type='text/javascript' src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type='text/javascript' src="javascript/jquery.autocomplete.min.js"></script>
  </head>
  <body>
    <div id="headder"></div>
    <div class="wrapper">
      <header id="header">
      <h2 class="center single-title yellow-shadow"><a href="./">Who Pays Speakers?</a></h2>
      </header>
      <section class='single-card'>
        <p class="report">{{ report }}</p>
        <p class="date">
        <a href="./{{_id}}"><em>Submitted in {{ submitted }}</em></a><br>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ tweet }}" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
      {{#if edited_by_admin}}
        <span class="note">This report was edited by request on github issues (
        {{#each edit_request_issues}}
          <a href="https://github.com/kosamari/who-pays-tech-speakers/issues/{{this}}">#{{this}}</a>
        {{/each}}
        )</span>
      {{/if}}

      </section>

      {{> footer}}
    </div>
    {{#if ga}}
      {{> ga }}
    {{/if}}
  </body>
</html>
